.wrapper {
  max-width: 900px;
  width: 95%;
	margin: 0 auto;
}

body {
  background: $backgroundColor;
}

.intro, .textBox {
  background: $textBoxBack;
  border-radius: 10px;
  box-shadow: 6px 6px #C0C0C0; 
  width: 50%;
  height: 200px;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: $bodyFont;
  padding: 30px;
  font-size: 1rem;
}

//Toggles - note: concept for the toggles is borrowed from Juno House Plants Guide code along. 

// removing the image of the checkbox from the screen
input[type="checkbox"] {
  opacity: 0;
}

.toggleLabel {
  font-family: $bodyFont;
  font-size: 1.5rem;
}

form {
  padding-top: 5%;
}

.bottomForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.toggleLabel {
  margin: 15px 0;
  padding-right: 110px;
  line-height: 40px;
  position: relative;
  display: block;
}

.toggleLabel::before {
  content: "";
  width: 100px;
  height: 40px;
  border-radius: 100px;
  background: $buttonColor;
  position: absolute;
  right: 0;
  top: 0;
}

/*middle of toggle switch*/
.toggleLabel::after {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 5px; 
  right: 65px;
}

input[type="checkbox"]:checked + .toggleLabel::after {
  right: 5px;
}

input[type="checkbox"]:checked + .toggleLabel::before {
  background: $accentColor1;
}

 /* for accessibility */
  input[type="checkbox"]:active + .toggleLabel::before,
  input[type="checkbox"]:focus + .toggleLabel::before {
}

button {
  color: white;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px #C0C0C0; 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items:: center;
  font-size: 22px;
  font-weight: 100;
  text-transform: uppercase;
  padding: 20px;
  font-family: $bodyFont;
  height: 120px;
  width: 400px;
  transition: all 0.3s ease 0s;
}

.reset {
  background-color: $headingColor;
  margin: 10% 0 10% 0;
}

.reset:hover, .calculate:hover {
  font-weight: 700;
  letter-spacing: 3px;
  background-color: $textBoxBack;
  color: $headingColor;
  transition: all 0.3s ease 0s;
}

.calculate {
  background-color: $buttonColor2;
  margin: 5% 0 5% 0;
}

.toggleVisibility1, 
.toggleVisibility2, 
.toggleVisibility3,
.toggleVisibility4,
.toggleVisibility5 {
  display: none;
  padding: 10px;
}

.jacketBox, .tshirtBox, .hatBox, .lycraBox, .silkBox {
  display: none;
  height: 100px;
}

.jacketBox {
  width: 150px;
  background-color: $accentColor2;
}

.tshirtBox {
  width: 100px;
  background-color: $headingColor;
}

.hatBox {
  width: 300px;
  background-color: $buttonColor;
}

.lycraBox {
  width: 800px;
  background-color: $buttonColor2;
}

.silkBox {
  width: 200px;
  background-color: $accentCOlor3;
}

.jacket, 
.tshirt, 
.hat,
.lycra, 
.silk {
  padding: 20px;
  width: 60%;
}

.jacket p, .tshirt p, .hat p, .lycra p, .silk p {
  font-size: 1rem;
  font-family: $bodyFont;
}

.one, .two, .three, .four, .five {
  height: 30%;
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.leftOne, .leftTwo, .leftThree, .leftFour, .leftFive {
  width: 35%;
}

//Calculate Section
.calculateTotal {
  background-color: $accentColor2;
  display: flex;
  flex-direction: column;
  align-items: center;
}




