
@media (max-width: 1400px){

  .horizontalView {
    display: none;
  }

  .tablet {
    display: block;
  }
}
/* small desktops and portrait tablet*/
@media (max-width: 940px) {

}

/* portrait tablet to landscape phone */
@media (max-width: 768px) {
  .tablet {
    display: none;
  }

  .phone {
    display: block;
  }
}

/* portrait phone */
@media (max-width: 320px) {

}