$baseFontColor: #232323;
$backgroundColor: #F7EDE2;
$headingColor: #f28482;
$buttonColor: #84a59d;
$accentColor1: #f5cac3;
$accentColor2: #f6bd60;
$headingFont:'Lobster', cursive;
$bodyFont: 'Comfortaa', cursive;