
@import 'setup';
@import 'variables';
@import 'header';
@import 'main';
@import 'footer';
@import 'mediaqueries';

h1 {
  font-family: 'Lobster', cursive;
  color: #f28482;
  font-size: 5em;
  width: 40%;
}

body {
  background: #F7EDE2;
}